---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nathanael Rea">
  <h1 class="text-4xl font-bold">Hi :)</h1>
  <ul class="p-4 space-y-4">
    <li><a href="https://github.com/NathanaelRea">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/NathanaelRea">LinkedIn</li>
  </ul>
</Layout>