---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
}

const { src, alt } = Astro.props;
---

<a href={src.src} title={alt}>
  <Image src={src} alt={alt} widths={[250, 500, 1000]} />
</a>
